.temples-data-container {
  background-color: aliceblue;
  background-size: cover;
  height: 130vh;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.indian-temple {
  background-color: #ffffff;
  width: 70%;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 0px 4px 16px 0px #bfbfbf;
}
.temple {
  width: 40%;
}
.temple-heading {
  color: brown;
  font-size: 29px;
  margin-left: 15px;
}
.description {
  font-size: 19px;
  margin-left: 15px;
}
.pooja {
  color: brown;
  margin-left: 15px;
  font-size: 29px;
}
.icon {
  color: brown;
  font-size: 25px;
  margin-left: 15px;
}
/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
  .temples-data-container {
    padding-top: 65px; /* Adjust padding for better alignment */
  }

  .indian-temple {
    width: 90%; /* Adjust width for smaller screens */
  }

  .temple-heading {
    font-size: 24px; /* Adjust font size for smaller screens */
  }

  .description {
    font-size: 16px; /* Adjust font size for smaller screens */
  }

  .pooja {
    font-size: 24px; /* Adjust font size for smaller screens */
  }

  .icon {
    font-size: 20px; /* Adjust font size for smaller screens */
  }
  .temple {
    width: 50%;
  }
}
